<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'Finalizados'}) %>

<section class="section hero is-link is-fullheight-with-navbar notify-page">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h2 class="subtitle">
                Pedidos finalizados
            </h2>
        </div>
    </div> 

    <% finished.forEach(function(finish) { %>
        <article class="larg">
                <div>
                <h3>Nome do usuário: <%= finish.name %> ------Endereço do usuário: <%= finish.address %> </h3>
                <p>Detalhes do Pedido:</p>
                <% finish.order.forEach(function(item) { %>
                    <p><strong>SKU: <%= item.sku %></strong></p>
                    <p>Pizza: <%= item.name %> ------ Tamanho: <%= item.size %> </p> 
                    <p>Preço: <%= item.price %> ------ Quantidade: <%= item.qtd %></p>
                    <p>Observações: <%= item.obs %></p>
                    <p>Imagem: <img src="<%= item.img %>" alt=""></p> <br>
                <% }) %>
                </div>
        </article>
    <% }) %>
</section>

<%- include('../layout/footer') %>