<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'REMOVE'}) %>


  <% authentication.forEach(auth => { %>
  <article class="larg">
    <div>
      <h3><%= auth.name %>  <span class="entypo-down-open"></span></h3>
      <p>
        <span>
            <a href="/index/<%= auth._id %>?_method=delete">Remover permissão</a>
        </span>
    </p>
      <p>
        <span>
          <%= auth.email %>
        </span>
      </p>
      <p>
        <span>
          função: <%= auth.func %>
        </span>
      </p>
    <p>
      <span>
          <a href="/auth/delete/<%= auth._id %>?_method=delete">Deletar usuario do banco de dados</a>
      </span>
  </p>
    </div>
  </article>
  <% }) %>

</main>
<!-- partial -->


<%- include('../layout/footer') %>