<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'Nova pizza'}) %>




<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
    }

    .container {
        width: 80%;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    
    .preco-input {
        display: none;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
<div class="container">
    <a href="/products" class="button is-success is-small">Voltar</a>
    <h2>Nova Pizza</h2>
    <div class="column is-one-fifth">
    </div>
    <form action="/pages/new" method="POST">
        <label for="name">Nome:</label><br>
        <input type="text" id="name" name="name" value="<%= pizza.names.name %>" required><br>
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" value="<%= pizza.ids.id %>" required><br>
        <label for="price0">Preço (6 fatias):</label><br>
        <input type="text" id="price0" name="price[0]" value="<%= pizza.price[0] %>" required><br>
        <label for="price1">Preço (8 fatias):</label><br>
        <input type="text" id="price1" name="price[1]" value="<%= pizza.price[1] %>" required><br>
        <label for="price2">Preço (10 fatias):</label><br>
        <input type="text" id="price2" name="price[2]" value="<%= pizza.price[2] %>" required><br>
        <label for="img">link da imagem:</label><br>
        <input type="text" id="img" name="img" value="<%= pizza.img %>" required><br>
        <input type="submit" value="Enviar">
      </form>
        </div>


<%- include('../layout/footer') %>