<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'Page 2'}) %>

<style>
  img{
  height: 100px;
  width: 100px;
  }
</style>


<section class="section hero is-link is-fullheight-with-navbar">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h2 class="subtitle">
        Todos os produtos da pizzaria
      </h2>
    </div>
  </div> 
  <div class="column is-one-fifth">
    <a href="/pages/new" class="button is-success is-small">Nova pizza</a>
  </div>
  
  <% prods.forEach(function(prod) { %>
    <article class="larg">
        <div>
<p>
    <span>
      <a href="/pages/edit/<%= prod._id %>">Editar</a>
    </span>
    </p>
        <h3>Pizza de <%= prod.names.name %>  <span class="entypo-down-open"></span></h3>
    <p>
        <span>
           Estoque: <%= prod.estoque %>
        </span>
    </p>

    <p>
      <span>
          Tamanho: P - Preço: <%= prod.price[0] %>
      </span>
  </p>
  <p>
      <span>
          Tamanho: M - Preço: <%= prod.price[1] %>
      </span>
  </p>
  <p>
      <span>
          Tamanho: G - Preço: <%= prod.price[2] %>
      </span>
  </p>
  <p>
    <span>
      <img src="<%= prod.img %>" alt="">
    </span>
    </p>
    <p id="remove">
    <span>
      <a href="/pages/page2/<%= prod._id %>?_method=delete">Remover produto do banco de dados</a>
    </span>
    </p>
    </div>
</article>
<% }) %>
</section>

  </main>
  <!-- partial -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
      $(document).ready( function() {
        
        $('body').on("click", ".larg div h3", function(){
          if ($(this).children('span').hasClass('close')) {
            $(this).children('span').removeClass('close');
          }
          else {
            $(this).children('span').addClass('close');
          }
          $(this).parent().children('p').slideToggle(250);
        });
        
        $('body').on("click", "nav ul li a", function(){
          var title = $(this).data('title');
          $('.title').children('h2').html(title);
        });
      });
      </script>



<%- include('../layout/footer') %>
