<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'Home'}) %>

<section class="section hero is-link is-fullheight-with-navbar notify-page">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h2 class="subtitle">
                Pedidos recusados
            </h2>
        </div>
    </div> 

    <% pedidos.forEach(function(pedido) { %>
        <article class="larg">
                <div>
                    <h3>Nome: <%= pedido.name %> ---------- <%= pedido.Address ? pedido.Address.address + ' + ' + pedido.Address.address2 : 'Endereço não disponível' %><br>Método de pagamento: <%= pedido.paymentMethod %> <br>Total: <%= pedido.total %></h3><br>
                    <form action="/accept" method="post">
                    <input type="hidden" name="id" value="<%= pedido._id %>">
                    <button type="submit">Aceitar Pedido novamente</button>
                </form>
                <p>Detalhes do Pedido:</p>
                <% pedido.order.forEach(function(item) { %>
                    <p><strong><%= item.sku %></strong></p>
                    <p>Pizza: <strong><%= item.name %></strong> ------ Tamanho: <strong><%= item.size %> </strong></p> 
                    <p>Preço: <strong><%= item.price %></strong> ------ Quantidade: <strong><%= item.qtd %></strong></p>
                    <p>Observações:<strong> <%= item.obs %></strong></p>
                    <p><img src="<%= item.link %>" alt=""></p> <br>
                <% }) %>
                </div>
        </article>
    <% }) %>
</section>

<%- include('../layout/footer') %>
