<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'pedidos'}) %>

<section class="section hero is-link is-fullheight-with-navbar notify-page">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h2 class="subtitle">
        Fazer os pedidos
      </h2>
    </div>
  </div> 

  <% requests.forEach(function(request) { %>
    <article class="larg">
        <div>
        <h3>Nome do usuário: <%= request.name %> ------Endereço do usuário: <%= request.address %> </h3>
        <p>Detalhes do Pedido:</p>
        <% request.order.forEach(function(item) { %>
          <p><strong><%= item.sku %></strong></p>
          <p>Pizza:<strong><%= item.name %></strong>  ------ Tamanho:<strong><%= item.size %></strong>  </p> 
          <p>Preço:<strong><%= item.price %></strong>  ------ Quantidade: <strong><%= item.qtd %></strong></p>
          <p>Observações:<strong><%= item.obs %></strong> </p>
          <p>Imagem: <img src="<%= item.link %>" alt=""></p> <br>
        <% }) %>
        <form action="/sending" method="post">
          <input type="hidden" name="id" value="<%= request._id %>">
          <button type="submit">Enviar Pedido</button>
        </form>
        </div>
    </article>
  <% }) %>
</section>

<%- include('../layout/footer') %>
