<%- include('../layout/header', {title: 'Dashboard'}) %>

<%- include('../layout/menu', {title1: 'Entregas'}) %>

<section class="section hero is-link is-fullheight-with-navbar notify-page">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h2 class="subtitle">
                Pedidos a serem entregues
            </h2>
        </div>
    </div> 

    <% sendings.forEach(function(sending) { %>
        <article class="larg">
                <div>
                <h3>Nome: <%= sending.name %> ------ Endereço do usuário: <%= sending.address %></h3>
                <p>Detalhes do Pedido:</p>
                <% sending.order.forEach(function(item) { %>
                    <p><strong><%= item.sku %></strong></p>
                    <p>Pizza: <strong><%= item.name %></strong> ------ Tamanho: <strong><%= item.size %></strong> </p> 
                    <p>Preço: <strong><%= item.price %></strong> ------ Quantidade: <strong><%= item.qtd %></strong></p>
                    <p>Observações: <strong><%= item.obs %></strong></p>
                    <p>Imagem: <img src="<%= item.img %>" alt=""></p> <br>
                <% }) %>
                <form action="/finish" method="post">
                    <input type="hidden" name="id" value="<%= sending._id %>">
                    <button type="submit">Finalizar Entrega</button>
                </form>
                </div>
        </article>
    <% }) %>
</section>

<%- include('../layout/footer') %>